:root {
    --vertix--color-text-light: #fce9d2;
    --vertix--color-text-light-ligther: #fce9d2;
    --vertix--color-text-light1: #c7bdbd;

    --vertix--color-text-bluelight: #96d1fe;
    --vertix--color-text-bluelight1: #a9d7ff;
    --vertix--color-text-bluelight2: #78bbff;

    --vertix--color-bg-default: #0f1e2e;

    --vertix-font-brand: 'El Messiri', sans-serif;
    --vertix-font-component: 'Red Hat Display', 'Tahoma';
}
