$color-text-light: bisque;
$color-text-light1: #c7bdbd;

$color-text-bluelight: #96d1fe;
$color-text-bluelight1: #a9d7ff;
$color-text-bluelight2: #78bbff;

$color-bg-default: #0f1e2e;

$font-brand: 'El Messiri', sans-serif;
$font-component: 'Red Hat Display', 'Tahoma';
