$color-text-light: bisque;
$color-text-light-ligther: #fce9d2;
$color-text-light1: #c7bdbd;

$color-text-bluelight: #96d1fe;
$color-text-bluelight1: #a9d7ff;
$color-text-bluelight2: #78bbff;

$color-bg-default: #0f1e2e;

$font-brand: 'El Messiri', sans-serif;
$font-component: 'Red Hat Display', 'Tahoma';


//--#{$prefix}toast-zindex: #{$zindex-toast};
//--#{$prefix}toast-padding-x: #{$toast-padding-x};
//--#{$prefix}toast-padding-y: #{$toast-padding-y};
//--#{$prefix}toast-spacing: #{$toast-spacing};
//--#{$prefix}toast-max-width: #{$toast-max-width};
//--#{$prefix}toast-color: #{$toast-color};
//--#{$prefix}toast-bg: #{$toast-background-color};
//--#{$prefix}toast-border-width: #{$toast-border-width};
//--#{$prefix}toast-border-color: #{$toast-border-color};
//--#{$prefix}toast-border-radius: #{$toast-border-radius};
//--#{$prefix}toast-box-shadow: #{$toast-box-shadow};
//--#{$prefix}toast-header-color: #{$toast-header-color};
//--#{$prefix}toast-header-bg: #{$toast-header-background-color};
//--#{$prefix}toast-header-border-color: #{$toast-header-border-color};
