@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./general/variables";
@import "./general/fonts";
@import "./general/animations";
@import "./general/buttons";

@import "./background";

@import "./pages/changelog";

a {
	text-decoration: none;
}

code {
	border: 2px solid #34383a;
	padding: 0 5px;
	background: #191b1f;
	font-family: monospace;
	color: $color-text-bluelight
}

@import "./header/header";

.content {
	padding-top: 100px;

	.box-1 {
		padding: 40px;
		border: 3px solid black;
		border-radius: 35px;
		background: #00000026;
		box-shadow: -2px 0px 7px 2px #4d90d8;
		width: 90%;
		margin-bottom: 30px;

		@include media-breakpoint-between(xs,sm) {
			padding: 15px;
			padding-top: 40px;
		}
	}

	//.box-feather {
	//	padding: 40px;
	//	border: 3px solid black;
	//	border-radius: 35px;
	//	background: #00000026;
	//	box-shadow: -2px 0px 7px 2px #4d90d8;
	//	width: 90%;
	//	margin-bottom: 30px;
	//
	//	@include media-breakpoint-between(xs,sm) {
	//		padding: 15px;
	//		padding-top: 40px;
	//	}
	//
	//	&:after {
	//		background: url(../../public/feather.png);
	//
	//		height: 355px;
	//		width: 140px;
	//
	//		position: absolute;
	//
	//		z-index: 1;
	//		content: "";
	//		display: block;
	//		//right: max( calc(100vw - 341px) , 1320px );
	//	}
	//}
}

iframe {
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 12px 53px 54px 14px #0000002b;
}

.PhotoView__Photo {
	cursor: pointer;
	margin: 15px;
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
	width: initial !important;
	height: initial !important;

	@include media-breakpoint-between(xs,sm) {
		max-width: 90% !important;
	}
}

.image-gallery img {
	cursor: pointer;
	margin: 15px;
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
	width: 100px;
	padding: 2px;
}
