@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./general/variables";
@import "./general/fonts";
@import "./general/animations";
@import "./general/buttons";

@import "./background";

@import "./pages/changelog";

html, body {
	width: auto !important;
	overflow-x: hidden !important
}

* {
	scrollbar-width: none;
	scrollbar-color: #0f1e2e #0f1e2e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #0f1e2e;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 10px;
	border: 1px solid #05082b;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-component;
	color: $color-text-light-ligther;
}

.fs-7 {
	font-size: 1rem;
}

@include media-breakpoint-between(xs, sm) {
	ul {
		padding-left: 10px;
	}

	ul > ul {
		padding-left: 20px;
	}

	li {
		font-size: 0.9rem;
	}

	.fs-1 {
		font-size: 2.5rem;
	}

	.fs-2 {
		font-size: 2rem;
	}

	.fs-3 {
		font-size: 1.75rem;
	}

	.fs-4 {
		font-size: 1.5rem;
	}

	.fs-5 {
		font-size: 1.25rem;
	}

	.fs-6 {
		font-size: 1rem;
	}

	.fs-7 {
		font-size: 0.9rem;
	}
}

@include media-breakpoint-between(sm, md) {
	ul {
		padding: 5px;
	}

	ul > ul {
		padding-left: 13px;
	}

	li {
		font-size: 1rem;
	}

	.fs-1 {
		font-size: 3rem;
	}

	.fs-2 {
		font-size: 2.5rem;
	}

	.fs-3 {
		font-size: 2rem;
	}

	.fs-4 {
		font-size: 1.75rem;
	}

	.fs-5 {
		font-size: 1.5rem;
	}

	.fs-6 {
		font-size: 1.25rem;
	}

	.fs-7 {
		font-size: 1rem;
	}
}

code {
	border: 2px solid #34383a;
	padding: 0 5px;
	background: #191b1f;
	font-family: monospace;
	color: $color-text-bluelight
}

.toast {
	background: #1e1e1e;
	color: $color-text-bluelight;
	border: 4px solid #1d2224;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
}

.toast-header {
	background: #191b1f;
	color: $color-text-bluelight;
	border-bottom: 2px solid #34383a;
}

@import "./header/header";

.content {
	padding-top: 100px;

	.box-1 {
		padding: 40px;
		border: 3px solid black;
		border-radius: 35px;
		background: #00000026;
		box-shadow: -2px 0px 7px 2px #4d90d8;
		width: 90%;
		margin-bottom: 30px;

		@include media-breakpoint-between(xs, sm) {
			padding: 15px;
			padding-top: 40px;
		}

		@include media-breakpoint-between(sm, md) {
			padding: 35px;
		}
	}

	//.box-feather {
	//	padding: 40px;
	//	border: 3px solid black;
	//	border-radius: 35px;
	//	background: #00000026;
	//	box-shadow: -2px 0px 7px 2px #4d90d8;
	//	width: 90%;
	//	margin-bottom: 30px;
	//
	//	@include media-breakpoint-between(xs,sm) {
	//		padding: 15px;
	//		padding-top: 40px;
	//	}
	//
	//	&:after {
	//		background: url(../../public/feather.png);
	//
	//		height: 355px;
	//		width: 140px;
	//
	//		position: absolute;
	//
	//		z-index: 1;
	//		content: "";
	//		display: block;
	//		//right: max( calc(100vw - 341px) , 1320px );
	//	}
	//}
}

iframe {
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 12px 53px 54px 14px #0000002b;
}

.PhotoView__Photo {
	cursor: pointer;
	margin: 15px;
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
	width: initial !important;
	height: initial !important;

	@include media-breakpoint-between(xs, sm) {
		max-width: 90% !important;
	}
}

img.normalize {
	cursor: pointer;
	margin: 15px;
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
	padding: 2px;
	width: 100%;
	max-width: min-content;


	@include media-breakpoint-between(xs, sm) {
		margin: 0;
		margin-top: 15px;

		max-width: 100%
	}
}

.image-gallery img {
	cursor: pointer;
	margin: 15px;
	border: 2px solid #21272e;
	border-radius: 14px;
	box-shadow: 2px 13px 14px 4px #0000002b;
	width: 100px;
	padding: 2px;
}


.unload {
	.dropdown-menu, .navbar, {
		animation: opacity-out 500ms ease 200ms backwards;
	}

	.wings {
		animation: drop-out 400ms ease 180ms backwards;
	}
}
